* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
body {
  background-color: black;
   font-family: "Poppins", sans-serif;
   color: white;
}
nav {
  display: flex;
  background-color: #00050d;
  height: 7vh;
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
 
}
.logo {
  height: 1vw;
  color:white;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1vw;
}
.nav-left,
.nav-right {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.grid-svg{
  height: 3vh;
}
.user-svg{
  height: 2vh;
}



li {
  padding-top: 20px;
  /* padding-left: 40px; */
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  /* justify-content: center;
    align-items: center; */
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}

button {
  /* height: 40px;
  width: 120px; */
  padding: 12px 25px;
  font-size: 20px;
  background-color: #1a98ff;
  color: white;
  border: none;
  border-radius: 10px;
}
nav li:hover {
  background-color: white;
  border-radius: 5px;
  height: 4vw;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
nav li a:hover{
    color: black;
}
.dropdown {
  position: relative;
}

.language {
  display: none;
  position: absolute;
  column-count: 5;
  column-gap: 50px;
  top: 100%;
  right: 0;
  min-width: 600px;
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);
  margin-top: 1rem;
}

.dropdown:hover .language {
  display: block;
}

.language a {
  text-decoration: none;
}

#hero{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.container-left{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  flex: 1;
  gap: 3rem;
  align-items: start;
  justify-content: center;
}
.hero-title{
  font-size: 3rem;
}
.join-button{
  width: 12vw;
  height: 7vh;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 1rem;
}
.container-right{
   background-image:url(./asset/main1.jpg);
  height:70vh;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;

} 
#hero-2{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.join-btn{
  width: 8vw;
  height: 7vh;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 1rem;
}
.container-right-2{
   background-image:url(./asset/main2);
  height:70vh;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
}


#subscription{
  background-color: #00050d;
  display: flex;
  padding: 5rem;
}
.subscription-title{
  font-size: 3rem;
}
.subscription-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.subscription-right{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.subscription-right img{
  height: 20vh;
  border-radius: 20px;
}
.subscription-right img:hover {
  box-shadow: rgba(255, 255, 255, 0.466) 0px 3px 8px;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  flex-direction: column;
  gap: 1rem;
}

.f-logo {
  height: 3vh;
  margin-top: 2rem;
}
.links {
  display: flex;
  gap: 1rem;
}

.links a {
  text-decoration: none;
  color: #79b8f3;
}

.copyright {
  color: #8197a4;
  margin-bottom: 1rem;
}
